
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #007BFF;
    text-align: center;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e9f5ff;
    transition: background-color 0.3s ease;
  }
  
  a.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  a.btn:hover {
    background-color: #0056b3;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #555;
  }
  